

<p>
  <strong>To-Do Item:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @list.completed %>
</p>

<%= link_to 'Edit', edit_list_path(@list), class:'btn btn-primary'  %> |
<%= link_to 'Back', lists_path %>
